<h1><%= @pagetitle %></h1>

<% if @done %>
	<h2>All essays done!</h2>
<% else %>
	<h2>Questions missing essays:</h2>
	<ul>
	<% @questions_missing_essays.each do |q| %>
		<li><a href="/question/<%= q.id %>"><%= q.question %></a></li>
	<% end %>
	</ul>
<% end %>

<h2>Editor:</h2>
<ul>
<% @editors.each do |e| %>
	<li><a href="/editor/<%= e.id %>"><%= e.name %></a></li>
<% end %>
</ul>

<h2>Researchers:</h2>
<ul>
<% @researchers.each do |r| %>
	<li><a href="/researcher/<%= r.id %>"><%= r.name %></a></li>
<% end %>
</ul>

<h3><a href="/book/<%= @book.id %>/questions">all questions</a></h3>
<h3><a href="/book/<%= @book.id %>/essays">all essays</a></h3>

<h2>Edit Book Info:</h2>
<form action="/book/<%= @book.id %>" method="post"><input type="hidden" name="_method" value="put">
<label for="country">country:</label>
<select name="country" id="country">
<% Countries.hsh.each do |cc,cn| %>
	<% checked = (cc == @book.country) ? ' checked' : '' %>
	<option value="<%= cc %>"<%= checked %>><%= cn %></option>
<% end %>
</select><br>
<label for="title">title:</label>
<input type="text" name="title" id="title" value="<%= @book.title %>"><br>
<label for="isbn">isbn:</label>
<input type="text" name="isbn" id="isbn" value="<%= @book.isbn %>"><br>
<input type="submit" name="submit" value="update">
</form>
