<h1><%= @pagetitle %></h1>

<p><a href="<%= @person_url %>">Person page for <%= @editor.name %></a></p>

<form action="/editor/<%= @editor.id %>" method="post"><input type="hidden" name="_method" value="put">
	<label for="bio">bio:</label>
	<textarea name="bio" id="bio"><%= @editor.bio %></textarea><br>
<input type="submit" name="submit" value="update">
</form>

<h2>Books:</h2>
<ul>
<% @editor.books.each do |b| %>
	<li><a href="/book/<%= b.id %>"><%= b.title %></a></li>
<% end %>
</ul>


