<h1><%= @pagetitle %></h1>

<p>
<img src="/images/300/editor-<%= @editor.id %>.jpg" width="300" height="300" alt="<%= @editor.name %>">
<a href="<%= @person_url %>">Person page for <%= @editor.name %></a>
</p>

<form action="/editor/<%= @editor.id %>" method="post"><input type="hidden" name="_method" value="put">
	<label for="bio">bio:</label>
	<textarea name="bio" id="bio"><%= @editor.bio %></textarea><br>
<input type="submit" name="submit" value="update">
</form>

<h2>Books:</h2>
<ul>
<% @editor.books.each do |b| %>
	<li><a href="/book/<%= b.id %>"><%= b.title %></a></li>
<% end %>
</ul>

<h2>Essays:</h2>
<table>
<tr>
	<td>Finished:</td>
	<td><a href="/editor/<%= @editor.id %>/essays/finished"><%= @editor.essays_finished_count %></a></td>
</tr>
<tr>
	<td>Unfinished:</td>
	<td><a href="/editor/<%= @editor.id %>/essays/unfinished"><%= @editor.essays_unfinished_count %></a></td>
</tr>
<tr>
	<td>Unpaid:</td>
	<td><a href="/editor/<%= @editor.id %>/essays/unpaid"><%= @editor.essays_unpaid_count %></a></td>
</tr>
<tr>
	<td>Unjudged:</td>
	<td><a href="/editor/<%= @editor.id %>/essays/unjudged"><%= @editor.essays_unjudged_count %></a>
<% if @editor.essays_unjudged_count > 0 %>
<form action="/editor/<%= @editor.id %>/approval" method="post">
<input type="submit" name="submit" value="approve all finished essays">
</form>
<% end %>	
	</td>
</tr>
</table>

