<h2><%= @pagetitle %></h2>

<% @books_researchers.each do |book, researchers| %>
	<h3><a href="/book/<%= book.id %>"><%= book.short_title %></a></h3>
	<ul>
	<% researchers.each do |researcher| %>
		<li><a href="/researcher/<%= researcher.id %>"><%= researcher.name %></a></li>
	<% end %>
	</ul>
<% end %>

