<h2><%= @pagetitle %></h2>

<% if @without_books.size > 0 %>
<h3>assign books to :</h3>
<ul>
<% @without_books.each do |x| %>
	<li><a href="/researcher/<%= x.id %>"><%=h x.name %></a></li>
<% end %>
</ul>
<% end %>

<ul>
<% @active.each do |r| %>
	<li><a href="/researcher/<%= r.id %>"><%=h r.name %></a></li>
<% end %>
</ul>

<form action="/researchers" method="post">
	<label for="person_id">type person_id to add new researcher:</label>
	<input type="text" name="person_id" id="person_id" value="">
	<input type="submit" name="submit" value="add">
</form>

<h2>Inactive:</h2>
<ul>
<% @inactive.each do |r| %>
	<li><a href="/researcher/<%= r.id %>"><%=h r.name %></a></li>
<% end %>
</ul>

