<table>
	<tr><td>country</td>
	<% @grid['woodegg'].keys.each do |x| %>
		<th><%= x %></th>
	<% end %>
	</tr>
<% @grid.each do |k, vs| %>
	<% code = (k == 'woodegg') ? 'ANY' : k.gsub('woodegg-', '').upcase %>
	<tr>
		<td><%= (code == 'ANY') ? code : Countries.hsh[code] %></td>
		<% vs.each do |k,count| %>
			<% if count.nil? %>
				<td> </td>
			<% else %>
				<td><a href="/stats/<%= code %>/<%= k %>"><%= count %></a></td>
			<% end %>
		<% end %>
	</tr>
<% end %>
</table>
