<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Wood Egg EDITOR: <%= @pagetitle %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/css/login.css" type="text/css" media="screen" />
</head>
<body id="ed">

<div class="navbar"><div class="navbar-inner"><div class="container">
<a class="brand" href="/ed/">Wood Egg login</a>
<ul class="nav">
	<li><a href="/ed/"><%= @person.name %>: (<%= @person.howmany_unessayed %>)</a></li>
	<li><a href="/ed/essays/unfinished">UNFINISHED: <%= @person.essays_unfinished.count %></a></li>
	<li><a href="/ed/essays/finished">Finished: <%= @person.essays_finished.count %></a></li>
	<li><a href="/ed/help">HELP</a></li>
</ul>   
</div></div></div>

<div class="container">

<%= yield %>

</div>
</body>
</html>
