<article class="book <%= @country_code %>">
  <header>
    <figure class="group flag">
      <img class="bookcover" src="/images/flags/<%= @ccode %>-flag-160-blackborder.png" alt="<%= @booktitle %>" />
    </figure>
    <div class="group">
    <h1><%= @title.gsub('Start', '<br>Start') %></h1>
    </div>
  </header>

<section id="information">

<header class="group">
<h2><%= @subtitle %></h2>
</header>

<figure class="cover">
  <img src="/images/we13/we13cover-<%= @ccode %>-155.png" alt="<%= @booktitle %>" />
</figure>

<div class="group">
<%= @salescopy %>
</div>

<div class="group">
	<a href="http://www.amazon.com/dp/<%= @book.asin %>?tag=cdbaby" class="button success">Buy it for your Amazon Kindle</a>
	<a href="https://leanpub.com/<%= @book.leanpub %>" class="button success">Buy it as PDF, epub, or mobi</a>
</div>

</section>

<section id="toc">
<h1>Contents</h1>

<%= @questions %>

<div class="group">
	<a href="http://www.amazon.com/dp/<%= @book.asin %>?tag=cdbaby" class="button success">Buy it for your Amazon Kindle</a>
	<a href="https://leanpub.com/<%= @book.leanpub %>" class="button success">Buy it as PDF, epub, or mobi</a>
</div>
</section>
